body, html {
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #191970;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #C0C0C0;
  }


.heading {
    text-align: center;
    font-size: 50px;
    margin-left: 20%;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indigo;
    position: fixed;    
    top: 0;
}